<!DOCTYPE html>
<html>
	<head>
		<title>WELCOME</title>
		<script src="/static/js/bootstrap.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/test.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/static/css/test.css">
	</head>
	<body role="document">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">医学命名实体识别</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about" id='about'>About</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container theme-showcase" role="main">
			<h1>说明：</h1>
			<p>此系统用于在英文文献中识别医学命名实体，可通过手动输入或者上传文本的方式，得到的结果将在页面下方展示</p>
			<p>例如:Octamer-binding proteins from B or HeLa cells stimulate transcription of the immunoglobulin heavy-chain promoter in vitro.</p>

			<form action="/bioNER/process/" method="get" enctype='multipart/form-data'>
				{% csrf_token %}
				<textarea class="form-control" rows="3" name='NERtext' id='NERtext'></textarea>
				<!-- <div>或者</div> -->
				<!-- <button type="" class="btn btn-default">上传文本</button><input type='file' name='upload' id='upload' hidden></input> -->
				<button class="btn btn-default"type='button' value="进行识别" id='submit'>进行识别</button>
			</form>



			<div class='output' id='output' hidden>
				<div id="extable">
				<button  class="btn btn-default" id = 'exFeature'>特征提取</button>
				<table class="table table-striped" id='table1' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel' colspan=21>Features</th>
						</tr>
					</thead>
					<tbody id='exFeatureOut'></tbody>
				</table>
				</div>



				<div id="seltable">
				<button type="button" class="btn btn-primary" id = 'selDNAFeature'>特征选择(DNA)</button>
	
				<table class="table table-striped" id='table2' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel' colspan=20>Features</th>
						</tr>
					</thead>
					<tbody id='selDNAFeatureOut'></tbody>
				</table>

				<button class="btn btn-primary" id = 'selRNAFeature'>特征选择(RNA)</button>
				<table class="table table-striped" id='table3' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel'colspan=20>Features</th>
						</tr>
					</thead>
					<tbody id='selRNAFeatureOut'></tbody>
				</table>

				<button class="btn btn-primary" id='selcellFeature'>特征选择(CELL)</button>
				<table class="table table-striped" id='table4' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel'colspan=20>Features</th>
						</tr>
					</thead>
					<tbody id='selcellFeatureOut'></tbody>
				</table>
				</div>



				<div id="resulttable">

				<button id='dnaresult' type="button" class="btn btn-info">DNA-protein分类</button>
				<table class="table table-striped" id='table5' hidden>
					<thead id='dnaresult'>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel'>Label</th>
						</tr>
					</thead>
					<tbody id='dnaresultOut'></tbody>
				</table>


				<button id='rnaresult' type="button" class="btn btn-info">RNA-protein分类</button>
				<table class="table table-striped" id='table6' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel'>Label</th>
						</tr>
					</thead>
					<tbody id='rnaresultOut'></tbody>
				</table>


				<button id='cellresult' type="button" class="btn btn-info">cell_type-cell_line分类</button>
				<table class="table table-striped" id='table7' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel'>Label</th>
						</tr>
					</thead>
					<tbody id='cellresultOut'></tbody>
				</table>
				</div>
				<div>
				<button id='totalresult'type="button" class="btn btn-success">Totalresult分类</button>
				<table class="table table-striped" id='table8' hidden>
					<thead>
						<tr>
							<th class='token'>Token</th>
							<th class='resultlabel'>Label</th>
						</tr>
					</thead>
					<tbody id='totalresultOut'></tbody>
				</table>
				</div>
			</div>
	</body>
</html>
